<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="auth" value="MTAxNDIxMzg0NzQ3MDU3NTY0Ng.GTchGK.2o1Nbp0JMMHrKOoyigdm9UjZhSqtv5IrTewARE"/>
    <add key="webhook" value ="https://hook.eu1.make.com/xgx69gk93cdm9bfmg4wndvqg3ox2pnto"/>
    <add key="internalAPIDiscordBot" value="http://api.gateway:80"/>
  </appSettings>
</configuration>